---
---




@import "{{ site.theme }}";

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .inner h1 {
        width: 500px;
    }
}
@media only screen and (max-width: 768px){
    .inner h1 {
        font-size: 55px;
    }
    .inner a.button {
        position: relative;
        top: 0px;
        right: 0px;
        color:#34383a;
        background: #ebe8df none 0 0 no-repeat;
        font-size: 20px;
    }
    .inner a.button small{
        font-size: 20px;
    }
            
    
}
@font-face {
    font-family: 'Cantera'; /*a name to be used later*/
    src: url('https://athemetanis.github.io/vesmirny-hon-za-slevami/assets/Canter%20Bold.otf'); 
}
@font-face {
    font-family: 'Rakesly_nadpis'; /*a name to be used later*/
    src: url('https://athemetanis.github.io/vesmirny-hon-za-slevami/assets/rakesly%20rg.ttf'); 
}
@font-face {
    font-family: 'Rakesly_text'; /*a name to be used later*/
    src: url('https://athemetanis.github.io/vesmirny-hon-za-slevami/assets/rakesly%20el.ttf'); 
}
header {
    padding-top: 11px;
    padding-bottom: 20px;
    font-family: 'Cantera'; 
    background: url(https://athemetanis.github.io/vesmirny-hon-za-slevami/assets/background.jpg) 0 0 repeat;
    border-bottom: solid 10px #d2ccb8;
}
header h1 {

    width: 800px;
    font-size: 110px;
    color: #34383a;
}
header h2 {
    color:#34383a;
    
}
header a.button {

    position: absolute;
    top: 20px;
    right: -40px;
    background: transparent url(https://athemetanis.github.io/vesmirny-hon-za-slevami/assets/download.png) 0 0 no-repeat;
}

a.button small {
    display: block;
    font-size: 20px;
}
a.button {
    font-family: 'Cantera';
    width: 200px;
    height: 120px;
    padding-top: 22px;
    padding-left: 55px;
    font-size: 30px;
    color: #34383a;
}

#main-content {

    float: left;
    width: 930px;
}
body {
    font-family: 'Rakesly_text';
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #34383a;
    background: #ebe8df none 0 0 repeat;
}
    
#main-content h2 {
    margin-bottom: 8px;
    font-family: 'Rakesly_nadpis';
    font-size: 22px;
    font-weight: bold;
    color: #34383a;
    text-indent: 4px;
}

#content-wrapper {
    padding-top: 30px;
    border-top: solid 10px #d9d5c6;
}
#main-content h2::before {
    padding-right: 0.3em;
    margin-left: -1.5em;
    content: "";
    color: #34383a;
    background: transparent url(https://athemetanis.github.io/vesmirny-hon-za-slevami/assets/before.png) 0 0 no-repeat;
    padding-left: 22px;
}
