---
---

@import "{{ site.theme }}";
@font-face {
    font-family: 'Cantera'; /*a name to be used later*/
    src: url('https://athemetanis.github.io/vesmirny-hon-za-slevami/assets/Canter%20Bold.otf'); 
}
@font-face {
    font-family: 'Rakesly_nadpis'; /*a name to be used later*/
    src: url('https://athemetanis.github.io/vesmirny-hon-za-slevami/assets/rakesly%20rg.ttf'); 
}
@font-face {
    font-family: 'Rakesly_text'; /*a name to be used later*/
    src: url('https://athemetanis.github.io/vesmirny-hon-za-slevami/assets/rakesly%20el.ttf'); 
}
header {
    padding-top: 11px;
    padding-bottom: 20px;
    font-family: 'Cantera'; 
    background: url(https://athemetanis.github.io/vesmirny-hon-za-slevami/assets/background.jpg) 0 0 repeat;
    border-bottom: solid 1px #275da1;
}
header h1 {

    width: 800px;
    font-size: 110px;
    color: #34383a;
}
header a.button {

    position: absolute;
    top: 20px;
    right: -40px;
    background: transparent url(https://athemetanis.github.io/vesmirny-hon-za-slevami/assets/download.png) 0 0 no-repeat;
}

a.button small {
    display: block;
    font-size: 20px;
}
a.button {
    font-family: 'Cantera';
    width: 200px;
    height: 120px;
    padding-top: 22px;
    padding-left: 55px;
    font-size: 30px;
    color: #34383a;
}

#main-content {

    float: left;
    width: 930px;
}
body {
    font-family: 'Rakesly_text';
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #666;
    
#main-content h2 {
    margin-bottom: 8px;
    font-family: 'Rakesly_napdis';
    font-size: 22px;
    font-weight: bold;
    color: #474747;
    text-indent: 4px;
