---
---

@import "{{ site.theme }}";

header {

    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    background: url(../assets/background.jpg) 0 0 repeat-x;
    border-bottom: solid 1px #275da1;

}
header h1 {

    width: 800px;
    font-size: 60px;
}
