<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

{% seo %}
  </head>
  <body bgcolor="#e4e1d7">
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
          <h2>
            Autoři: Barbara Dodoková, Alica Jašková, Kamila Vaňková
            <a href="https://github.com/Athemetanis/vesmirny-hon-za-slevami/raw/master/files/vesmirny-hon_print%26play_kit.zip" class="button">
              <small>Stáhnout</small>
              .zip archiv
            </a>
        </h2>
        
       </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <p>Vesmírný hon za slevami je deskovou závodní hrou se sci-fi důchodcovskou tematikou a svérázným humorem. Hra je určena pro 2 až 4 hráče a přináší možnost nejen strategizovat, ale také škodit svým soupeřům a tím ovlivňovat kdo se dostane do cíle jako první. Kromě originální tematiky nabízí hra i kvalitní grafické zpracování a je zde dostupná v print&play podobě.</p>
         <h2> Úvod </h2>
          <p> Píše se rok 3487, Země je přelidněná a důchodci tvoří 84 % populace. Všechny obchody se přesouvají na blízkou planetku Shoptun. Závod důchodců o tu největší slevu nikdy nebyl napínavější a ceny másla klouzavější. Jen ten nejrychlejší důchodce ukořistí to nejlevnější máslo na trhu. Namaž si podrážky a vydej se do toho nejepičtějšího závodu tisíciletí, než prošvihneš poslední máslo v akci!
          </p>
          <h2> Základní informace </h2>
          <p><strong>Počet hráčů: </strong>2–4<br><strong>Věk:</strong> 15–60 let<br><strong>Délka hry:</strong> 30–60 minut<br><strong>Herní komponenty:</strong> hrací deska, karty, figurky, žetony
           </p>
           <img src= "https://athemetanis.github.io/vesmirny-hon-za-slevami/assets/game.jpg">
          <h2>Pravidla
          </h2>
          <p><strong>Cíl hry: </strong>Hráči se snaží dostat na konec trasy jako první. K tomu využívají karty pro pohyb. Ve hře jsou i speciální karty v balíčku „Nádobíčko“, pomocí kterých můžou hráči mezi sebou interagovat a navzájem si škodit. Postup hráčů k cíli taktéž ovlivňují globální karty, které mají efekt na všechny hráče najednou. Kdo nejrychleji dosáhne cíle, vyhrává!</p>
          <p><strong>Příprava hry: </strong>Po rozložení hrací desky je třeba pečlivě promíchat všechny tři balíčky karet, které se následně umístí k desce. Hráči si zvolí svou figurku, kterou umístí na začátek herního plánu. 
          </p>
          <p><strong>Průběh kola: </strong>Všichni hráči si doberou pohybové karty a karty „Nádobíčko“. Otočí se globální karta a uplatní se její efekt. Ti hráči, kteří mají zájem, zahrají karty se symbolem másla, jejichž efekt se rovněž uplatní okamžitě. Následují tahy jednotlivých hráčů – hru začíná hráč, který je svým věkem nejblíž k důchodu a pokračuje se ve směru hodinových ručiček. Tahem posledního hráče dané kolo končí.</p>
          <p><strong>Konec hry: </strong>
Hra končí, když se první hráč dostane do cíle (obrázek másla na konci trasy). Na toto pole není nutné vstoupit použitím pohybové karty s přesnou hodnotou.</p>
       
          
            <h2>Karty
          </h2>
           <p><strong>Pohybové karty: </strong>Tyto karty slouží na pohyb po herním plánu. Každý hráč si na začátku kola dobírá pohybové karty z balíčku tak, aby měl na ruce přesně tři karty tohoto typu. Hráči musí ve svém tahu zahrát právě jednu pohybovou kartu, pokud globální karta nestanoví jinak. Jestliže při pohybu stoupne hráč na pole, kde již stojí figurka jiného hráče, posune soupeřovu o dvě políčka dozadu a nahradí ji tou svou.</p>
           <p><strong>Karty „Nádobíčko“: </strong>Každý hráč si na začátku kola dobírá z balíčku „Nádobíčko“ tak, aby měl na ruce přesně dvě karty tohoto typu. Během svého tahu může hráč zahrát libovolný počet těchto karet v libovolném pořadí. Karty „Nádobíčko“ zahrnují nasledující typy:
            <ul>
                <li><strong>Karty „Zdravotní pomůcka“: </strong>Pro uplatnění efektu této karty ji musí hráč nejdřív vyložit před sebe. Každý hráč může mít vyloženou jen jednu zdravotní pomůcku. Pokud se chce hráč zbavit své zdravotní pomůcky, musí ji nahradit novou. Starou zahazuje do odhazovacího balíčku pro karty „Nádobíčko“. Některé zdravotní pomůcky se po jednom použití zničí a je potřeba je odhodit (explicitně uvedeno na kartě). Jestliže tak na kartě uvedeno není, platnost pomůcky trvá, dokud ji nezničí efekt jiné karty, anebo ji nenahradí samotný hráč novou. </li>
                <li><strong>Karty „Portál“: </strong>Jestliže chce hráč přidat do hry portál, vyloží příslušnou kartu k hrací desce a k ní patřící žeton umístí na libovolné pole plánu (kromě polí, kde stoj jiný hráč nebo je na nich již jiný portál). Pokud hráč portál aktivuje (zastaví na poli s portálem nebo přes něj přejde pomocí nevyhovujícího čísla), posune se o daný počet políček dozadu od pole portálu. Portál je následně odklizený z desky a jeho kartička odhozena do odhazovacího balíčku pro „Nádobíčko“. Jestliže hráč podmínky na průchod splňuje, portál zůstává na svém místě, dokud ho někdo neaktivuje. Při přechodu portálem rozhoduje hodnota pohybové kartičky bez bonusů. Pokud hráč stojí na portálu a jiný hráč jej aktivuje, aktivující hráč se posune dozadu o daný počet políček. Hráč, který již na portálu stál, zůstane na místě.</li>
                <li><strong>Karty „Akce“: </strong>Jestliže má tento typ karty na sobě symbol másla, hraje se výlučně na začátku kola. Karty bez tohoto symbolu hraje každý hráč ve svém vlastním tahu. Po zahrání karty ji hráč odhodí do odhazovacího balíčku pro „Nádobíčko“ a uplatní její efekt podle instrukcí uvedených na kartě.</li>
            </ul>
            <strong>Globální karty: </strong>Na začátku každého kola otočí nejstarší hráč novou globální kartu a všichni hráči ve hře jsou povinni následovat její instrukce.
        
          </p>
        <img src= "https://athemetanis.github.io/vesmirny-hon-za-slevami/assets/karty.jpg">
        </section>

       </div>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
